
<span><%= link "New Content", to: course_content_path(@conn, :new, @course) %></span>
<br/>
<br/>
<br/>
<span><%= link "Edit", to: course_path(@conn, :edit, @course) %> </span>
<span><%= link "Back", to: course_path(@conn, :index) %> </span>